.admin-nav > li {
	text-align: center;
	float: none;
	display: inline-block;
}

.large-centered {
	text-align: center;
}

.list-sortable {
	margin-bottom: 0;
}

.list-sortable li {
	list-style-type: none;
}

.list-sortable .panel {
	padding: 1px;
	margin-bottom: 5px;
}

.ui-state-default .ui-icon {
	background-image: url('/img/ui-icons_888888_256x240.png');
}

.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}

.sort-action {
	float: left;
}

.sort-action > img {
	margin-left: 3px;
	height: 20px;
	width: 20px;
}

.list-action {
	float: right;
}

.list-action > a > img {
	margin-right: 3px;
	height: 20px;
	width: 20px;
}

div.status-switch {
	margin-bottom: 0;
}

.programSelect-Template {
	display: none;
}

.stat-table td, th {
	text-align: center !important;
}

.footer {
	padding-bottom: 30px;
}