/* Home */
.top-search-bar {
	padding-top: 35px;
}

.logo {
	padding-bottom: 20px;
}

.results-container {
	min-height: 350px;
}

body {
	background-image: url("/img/goadrina_bkg.png");
}

.time-result {
	padding-bottom: 10px;
}

.post-box {
	min-height: 225px;
}

.post-box-img {
	padding-top: 10px;
}